[submodule "deps/llama.cpp"]
	path = deps/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "deps/tinygrad"]
	path = deps/tinygrad
	url = https://github.com/tinygrad/tinygrad
[submodule "deps/verifiers"]
	path = deps/verifiers
	url = https://github.com/PrimeIntellect-ai/verifiers.git
[submodule "deps/mlc-llm"]
	path = deps/mlc-llm
	url = https://github.com/mlc-ai/mlc-llm.git
